header#site-header {
	position: relative;
	background: transparent;
	.fixed-nav & {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		transition: .3s ease-out;
		z-index: 100;
	}
	
	.fixed-nav.scrolled & {
		background: #fff;
	}
	
	.header-wrap {
		min-height: $header-height;
		padding-top: .5rem;
		padding-bottom: .5rem;
		.fixed-nav & {
			transition: 0.3s ease-out;
		}
		.fixed-nav.scrolled & {
			min-height: $header-height-scrolled;
		}
	
	}
	.logo-wrap {
	}
}
