{% import "../includes/macros.twig" as macros %}

<header id="site-header">
	<div class="grid-container">
		<div class="grid-x header-wrap align-justify align-middle">
			<div class="cell logo-wrap shrink">
					<a href="index.html">
						Logo
	<!-- 					<img src="assets/img/logo.png"> -->
					</a>
			</div>
			
			<div class="cell menu-wrap shrink">
	      <a id="hamburger" href="#"><span></span></a>

				<ul class="menu main-menu">
					<li class="{{macros.is_active('index.html', _context)}}"><a href="index.html">Home</a></li>
					<li class="{{macros.is_active('contact.html', _context)}}"><a href="contact.html">Contact</a></li>
				</ul>
				
			</div>
					
		</div>
	</div>	    
</header>