<footer id="site-footer">
	<div class="grid-container">
		
		<div class="grid-x grid-margin-x">
			<div class="small-12 medium-6 cell text-center medium-text-left">Footer</div>	
			<div class="small-12 medium-6 cell text-center medium-text-right">Copyright &copy; 2020</div>	
		</div>			
		
	</div>
</footer> 