{% set page_title = 'Contact - Example Project' %}

{% include "./includes/header.twig" %}

<div class="grid-container">

	<h2 class="section-title">Strona z prostą stopką</h2>
	
	<div class="grid-x grid-margin-x">
		<div class="small-12 medium-4 cell">
			<p><a href="https://i.picsum.photos/id/866/1920/1080.jpg" data-fancybox="gallery-1" ><img class="lazyload" data-src="https://picsum.photos/seed/picsum/800/600"></a></p>
		</div>
		<div class="small-12 medium-4 cell">
			<p><a href="https://picsum.photos/seed/picsum2/1920/1080" data-fancybox="gallery-1"><img class="lazyload" data-src="https://picsum.photos/seed/picsum2/800/600"></a></p>
		</div>
		<div class="small-12 medium-4 cell">
			<p><a href="https://picsum.photos/seed/picsum3/1920/1080" data-fancybox="gallery-1"><img class="lazyload" data-src="https://picsum.photos/seed/picsum3/800/600"></a></p>
		</div>
	</div>
	
</div>

{% include "./includes/footer-min.twig" %}
