{% set page_title = 'Home - Example Project' %}

{% include "./includes/header.twig" %}

<section id="home-slider" class="slider slick-slider slider--main slider--full-height">
	
	<div class="slide" style="background-image: url('https://picsum.photos/seed/picsum/1920/1080')">
		
		<div class="slide-wrap">
			<div class="slide-inner">
			
				<div class="grid-container">
					<h2>Hello World</h2>
					<h3>Full height slider</h3>
				</div>
				
			</div>
		</div>
		
	</div>
	
	<div class="slide" style="background-image: url('https://picsum.photos/seed/picsum/1920/1080')">
		
		<div class="slide-wrap">
			<div class="slide-inner">
			
				<div class="grid-container">
					<h2>Slide 2</h2>
					<h3>Full height slider</h3>
					<h3>Full height slider</h3>
					<h3>Full height slider</h3>
					<h3>Full height slider</h3>
				</div>
				
			</div>
		</div>
		
	</div>
	 
</section>


<div class="grid-container">

	<h2 class="section-title">Test lightbox</h2>
	
	<div class="grid-x grid-margin-x">
		<div class="small-12 medium-4 cell">
			<p><a href="https://i.picsum.photos/id/866/1920/1080.jpg" data-fancybox="gallery-1" ><img class="lazyload" data-src="https://picsum.photos/seed/picsum/800/600"></a></p>
		</div>
		<div class="small-12 medium-4 cell">
			<p><a href="https://picsum.photos/seed/picsum2/1920/1080" data-fancybox="gallery-1"><img class="lazyload" data-src="https://picsum.photos/seed/picsum2/800/600"></a></p>
		</div>
		<div class="small-12 medium-4 cell">
			<p><a href="https://picsum.photos/seed/picsum3/1920/1080" data-fancybox="gallery-1"><img class="lazyload" data-src="https://picsum.photos/seed/picsum3/800/600"></a></p>
		</div>
	</div>
	
</div>

{% include "./includes/footer.twig" %}
