/* @import 'https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,400i,600,700&amp;subset=latin-ext'; */

@import 'modules/foundation-styles';

@include foundation-global-styles;

body#tinymce.wp-editor {
	@extend body;
	@include foundation-typography;
	
	background: #fff;
	
	padding: 10px !important;
	
}
